

.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}



		/*-------------------- Css A PROPOS------------- */
#bookingVolotaire{
		font-family: 'Alice', serif;		
		background-color: #ffffff; 
}

.description{
	background-color:#fff;
	padding:0px 30px 30px 30px;
	border-radius: 10px;
	/* border: 1px solid #6377a7; */
	margin-top: -100px;
	margin-left: -18%;
	margin-bottom: 30%;
}

.section_title h3 #titreSection{

	font-size: 40px;
    font-weight: 400;
    color: #232c61;
    z-index: 1;
    font-family: "Yeseva One", cursive;
    line-height: 1.3;
}

.section_title h3 #titreSection2{

	font-size: 40px;
    font-weight: 400;
    color: #232c61;
    z-index: 1;
    font-family: "Yeseva One", cursive;
    line-height: 1.3;
}
.description p{
	text-align:justify;
	color:#6377a7;
}

.description #titre2{
	font-size: 25px;
	color: #3d4d74;
	
}
  /* --button status association-- */
  .bn54 {
	position: relative;
	outline: none;
	text-decoration: none;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	/* text-transform: uppercase; */
	height: 60px;
	width: 150px;
	opacity: 1;
	background-color: #fffffff6;
	border: 1px solid #02020254;
	box-shadow: 0 0 2px rgb(114, 114, 117);
	margin: 0 0 30% 0;
}

#btnStatuts .bn54 { /*auto centre le button statut*/

	margin:30px auto 30px auto;
	
}

.bn54Apropos a{
	position: relative;
	outline: none;
	text-decoration: none;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	/* text-transform: uppercase; */
	height: 60px;
	width: 150px;
	opacity: 1;
	background-color: #fffffff6;
	border: 1px solid #02020254;
	box-shadow: 0 0 2px rgb(114, 114, 117);
	margin: 0 0 15% 0;
	margin-left: 40%;
}
.bn54 .bn54span {
	font-family: 'Alice', sans-serif;
	color: #000000;
	font-size: 12px;
	font-weight: 500;
	letter-spacing: 0.7px;
}

.bn54:hover {
	background-color: #18b699b9;
	text-decoration: underline;
	animation: bn54rotate 0.7s ease-in-out both;

}

.bn54:hover .bn54span {
	animation: bn54storm 0.7s ease-in-out both;
	animation-delay: 0.06s;
}

@keyframes bn54rotate {
	0% {
	transform: rotate(0deg) translate3d(0, 0, 0);
	}
	25% {
	transform: rotate(3deg) translate3d(0, 0, 0);
	}
	50% {
	transform: rotate(-3deg) translate3d(0, 0, 0);
	}
	75% {
	transform: rotate(1deg) translate3d(0, 0, 0);
	}
	100% {
	transform: rotate(0deg) translate3d(0, 0, 0);
	}
}

@keyframes bn54storm {
	0% {
	transform: translate3d(0, 0, 0) translateZ(0);
	}
	25% {
	transform: translate3d(4px, 0, 0) translateZ(0);
	}
	50% {
	transform: translate3d(-3px, 0, 0) translateZ(0);
	}
	75% {
	transform: translate3d(2px, 0, 0) translateZ(0);
	}
	100% {
	transform: translate3d(0, 0, 0) translateZ(0);
	}
}
/* --------------------------end---------Css A PROPOS */

	/*-------------------- Css ADHESION -------------- */

.container{
	width:100%;
	
}

.backgroundform{
		
	text-align:center;
	background-color: rgb(85 145 155 / 85%);
	border-radius:4%;
	width: 30%;
	height: 0%;
	max-height: 30% ;
	margin-top:-1%;
	margin-left: 75%;
	}

.backgroundform p {
	text-align:center;
	
}


.TitreTelecharger p {
	padding: -10px 0 5% 0 ;
	color : #cb377d;
	font-weight: 800;
	font-size: 25px;


}

.TitreTelecharger{
	width:100%;
	height:100%;
	background-color: #2faa94e5;
	border-radius: 4% 4% 0 0;
	margin-bottom:10px;
}


#bookingAdhesion{
	display: block;
	font-family: 'Alice', serif;		
	/* background-color: #ccebe6;  */
	background-image: url(../img/volenteer/team.jpg);
	padding: 10%;
}

	.file {  /* ---permet de rendre invisible le inout file ...--- */
		opacity: 0;
		width: 0.1px;
		height: 0.1px;
		
		
	 }

.file-input label {
	display: flex;
	flex-direction: row-reverse;
	margin-top: -20px;
	width: 170px;
	height: 50px;
	border-radius: 25px;
	background: linear-gradient(40deg, #51a5f3,#13b17c);
	box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);

	align-items: center;
	justify-content: center;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	transition: transform .2s ease-out;
	font-size: 17px;
 }

 .file-input label:hover{
	background: linear-gradient(40deg,#13b17c, #3599b3);
 }

 /* =======BUTTON submitFile======== */
input[type=submit] {
	background-color: #2faa94;
	font-family:arial;
	text-transform: uppercase;
	font-weight: 700;
	color: white;
	
	padding: 5px 15px;
	margin: 8px 0;
	margin-bottom:20px;
	border: none;
	cursor: pointer;
	width: 100%;
}
input[type=submit]:hover {
	background-color: rgba(255, 255, 255, 0.952);
	border: 1px solid #2faa94b7;
	color: #2faa94;
	
}

/* --------------------------end---------Css ADHESION*/

/*-------------------- Css ADHESION la = â† -------------- */


.retourAccueilAdmin label {
	position:fixed;
	margin-left: 15px;
	display: block;
	
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background: linear-gradient(40deg, #51a5f3,#45d6a6);
	box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	transition: transform .2s ease-out;
	font-size: 17px;
	
}

.retourAccueilAdmin label:hover{
	background: linear-gradient(40deg,#45d6a6, #58b8cf);

}
/* --------------------------end---------Css articleModif*/



#booking {
	font-family: 'Alice', serif;
	
	background-color: #d7ecf1;    /* ______BACKGROUND ______*/
	/* background-image: url('../img/galaxy2.jpg');  */
}


.booking-form {
	position: relative;
	
	width: 100%;
	margin: auto;
	background: #fff;
	border-radius: 6px;
	-webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
}

.booking-form .booking-bg {
	position: absolute;
	left: 25px;
	top: -25px;
	bottom: -25px;
	width: 400px;
	background-image: url('../img/galaxy5.jpg');
	background-size: cover;
	background-position: center;
	padding: 25px;
	border-radius: 6px;
	-webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.booking-form .booking-bg::before {
	
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	/* background-color: #51b899; */
	background-image: url('../img/galaxy5.jpg');/*----image dome + Reservation : Planetarium Mobile----*/
}

.booking-form>form {
	margin-left: 425px;
	padding: 30px;
}

.booking-form .form-header {
	margin-bottom: 30px;
	margin-top: 60px;
	position: relative;
	z-index: 20;
}

.booking-form .form-header h2 {
	font-family: 'Playfair Display', serif;
	margin-top: 0;
	margin-bottom: 15px;
	font-weight: 900;
	color: #fff;
	font-size: 42px;
	text-transform: capitalize;
}

.booking-form .form-header p {
	color: #fff;
	font-size: 18px;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 20px;
}

.booking-form .form-control {
	background-color: #fff;
	height: 45px;
	padding: 0px 15px;
	color: #151515;
	border: 1px solid #272627;
	font-size: 16px;
	font-weight: 700;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 40px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .form-control::-webkit-input-placeholder {
	color: #18b699;
}

.booking-form .form-control:-ms-input-placeholder {
	color: #18b699;
}

.booking-form .form-control::placeholder {
	color: #18b699;
}

.booking-form .form-control:focus {
	background: #f8f8f8;
}

.booking-form input[type="date"].form-control:invalid {
	color: #56575d;
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control:invalid {
	color: #18b699;
}

.booking-form select.form-control option {
	color: #151515;
}


.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 3px;
	bottom: 5px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: #207226;
	font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

/*Concerne le texte (nom,prenom etc) */
.booking-form .form-label {
	color: #06494d; 			/*-------------Date, nom:.... -----------*/
	/* text-transform: uppercase; */
	line-height: 24px;
	height: 24px;
	font-size: 18px;
	font-weight: 400;
	margin-left: 20px;
	font-family: 'Playfair','Gill Sans',sans-serif;
	
}

.booking-form .form-btn {
	margin-top: 30px;
}

/* Concerne le bouton valider */
.booking-form .submit-btn	 {
	display: block;
	width: 100%;
	color: #fff;
	background-color: #777c79;
	font-weight: 700;
	font-size: 18px;
	border: none;
	border-radius: 40px;
	height: 55px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}

.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
	color: rgb(255, 255, 255);
	background-color: #2f798d;;
	border-color: #2f798d
}
/* .policeForm span {

	font-family: 'Gill Sans', sans-serif;
	
} */

@media only screen and (max-width: 768px) {
	.booking-form .booking-bg {
		position: relative;
		left: 0;
		right: 0;
		bottom: 0;
		top: -15px;
		width: 95%;
		margin: auto;
	}
	.booking-form>form {
		margin-left: 0px;
	}
}



.container #buttonModifier a{
	color: #961c1c;
}

